In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="kda2023!",
    database="ProjectTweets"
)

In [2]:
mycursor = mydb.cursor()

In [3]:
# mycursor.execute("CREATE DATABASE ProjectTweets")

In [4]:
mycursor.execute("SHOW DATABASES")

for db in mycursor:
    print(db)

('information_schema',)
('mysql',)
('new_schema',)
('performance_schema',)
('ProjectTweets',)
('Tweets',)

In [5]:
# mycursor.execute("CREATE TABLE Tweets (id INT AUTO_INCREMENT PRIMARY KEY, date VARCHAR(255), flag VARCHAR(255), user VARCHAR(255), text VARCHAR(255))")

In [6]:
mycursor.execute("SHOW TABLES")

for tb in mycursor:
    print(tb)

('Tweets',)

In [7]:
sqlFormula = """
    LOAD DATA LOCAL INFILE '/Users/kagantimur/Desktop/CA2/ProjectTweets.csv'
    INTO TABLE Tweets
    FIELDS TERMINATED BY ','
    LINES TERMINATED BY '\n'
    IGNORE 1 ROWS;
"""

In [8]:
# Execute the SQL statement
mycursor.execute(sqlFormula)

# Commit the changes
mydb.commit()

DatabaseError: LOAD DATA LOCAL INFILE file request rejected due to restrictions on access.