In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import concat_ws

spark = SparkSession.builder.appName('ProjectTweets').enableHiveSupport().getOrCreate()

In [2]:
from pyspark.sql.functions import regexp_replace, col, lower
from pyspark.ml.feature import Tokenizer, StopWordsRemover
import nltk
from nltk.stem import WordNetLemmatizer
from pyspark.sql.functions import udf
from pymongo import MongoClient
from pyspark.sql.types import StringType
import nltk
#nltk.download('omw-1.4')
#nltk.download('wordnet')
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objs as go

/tmp/ipykernel_9638/4273979666.py:12: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/tmp/ipykernel_9638/4273979666.py:13: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

# DATA PREPARATION

In [3]:
df = spark.read.csv('/user1/ProjectTweets.csv', header=True, inferSchema=True)

In [4]:
df.printSchema()

root
 |-- 0: integer (nullable = true)
 |-- 1467810369: long (nullable = true)
 |-- Mon Apr 06 22:19:45 PDT 2009: string (nullable = true)
 |-- NO_QUERY: string (nullable = true)
 |-- _TheSpecialOne_: string (nullable = true)
 |-- @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D: string (nullable = true)

In [5]:
df.show(5, truncate=False)

+---+----------+----------------------------+--------+---------------+-------------------------------------------------------------------------------------------------------------------+
|0  |1467810369|Mon Apr 06 22:19:45 PDT 2009|NO_QUERY|_TheSpecialOne_|@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D|
+---+----------+----------------------------+--------+---------------+-------------------------------------------------------------------------------------------------------------------+
|1  |1467810672|Mon Apr 06 22:19:49 PDT 2009|NO_QUERY|scotthamilton  |is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!    |
|2  |1467810917|Mon Apr 06 22:19:53 PDT 2009|NO_QUERY|mattycus       |@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds                          |
|3  |1467811184|Mon Apr 06 22:19:57 PDT 2009|NO_QUERY|ElleCTF        |my whole body feels itchy and like its on fire                                                                     |
|4  |1467811193|Mon Apr 06 22:19:57 PDT 2009|NO_QUERY|Karoli         |@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there.     |
|5  |1467811372|Mon Apr 06 22:20:00 PDT 2009|NO_QUERY|joy_wolf       |@Kwesidei not the whole crew                                                                                       |
+---+----------+----------------------------+--------+---------------+-------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [6]:
from pyspark.sql.functions import col

In [7]:
new_cols = ['ids', 'date', 'flag', 'user', 'text']

for i, column_name in enumerate(new_cols):
    df = df.withColumnRenamed(df.columns[i + 1], column_name)

In [8]:
from pyspark.sql.functions import to_date, date_format

In [9]:
spark.conf.set('spark.sql.legacy.timeParserPolicy', 'LEGACY')

In [10]:
date_column = df.select('date')

In [11]:
df = df.withColumn('date', to_date(df['date'], 'EEE MMM dd HH:mm:ss zzz yyyy'))

In [12]:
df = df.withColumn('date', to_date(col('date'), 'dd/MM/yyyy'))

In [13]:
df.show()

+---+----------+----------+--------+---------------+--------------------+
|  0|       ids|      date|    flag|           user|                text|
+---+----------+----------+--------+---------------+--------------------+
|  1|1467810672|2009-04-07|NO_QUERY|  scotthamilton|is upset that he ...|
|  2|1467810917|2009-04-07|NO_QUERY|       mattycus|@Kenichan I dived...|
|  3|1467811184|2009-04-07|NO_QUERY|        ElleCTF|my whole body fee...|
|  4|1467811193|2009-04-07|NO_QUERY|         Karoli|@nationwideclass ...|
|  5|1467811372|2009-04-07|NO_QUERY|       joy_wolf|@Kwesidei not the...|
|  6|1467811592|2009-04-07|NO_QUERY|        mybirch|         Need a hug |
|  7|1467811594|2009-04-07|NO_QUERY|           coZZ|@LOLTrish hey  lo...|
|  8|1467811795|2009-04-07|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|
|  9|1467812025|2009-04-07|NO_QUERY|        mimismo|@twittera que me ...|
| 10|1467812416|2009-04-07|NO_QUERY| erinx3leannexo|spring break in p...|
| 11|1467812579|2009-04-07|NO_QUERY|   pardonlauren|I just re-pierced...|
| 12|1467812723|2009-04-07|NO_QUERY|           TLeC|@caregiving I cou...|
| 13|1467812771|2009-04-07|NO_QUERY|robrobbierobert|@octolinz16 It it...|
| 14|1467812784|2009-04-07|NO_QUERY|    bayofwolves|@smarrison i woul...|
| 15|1467812799|2009-04-07|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|
| 16|1467812964|2009-04-07|NO_QUERY| lovesongwriter|Hollis' death sce...|
| 17|1467813137|2009-04-07|NO_QUERY|       armotley|about to file taxes |
| 18|1467813579|2009-04-07|NO_QUERY|     starkissed|@LettyA ahh ive a...|
| 19|1467813782|2009-04-07|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|
| 20|1467813985|2009-04-07|NO_QUERY|         quanvu|@alydesigns i was...|
+---+----------+----------+--------+---------------+--------------------+
only showing top 20 rows

In [14]:
df.printSchema()

root
 |-- 0: integer (nullable = true)
 |-- ids: long (nullable = true)
 |-- date: date (nullable = true)
 |-- flag: string (nullable = true)
 |-- user: string (nullable = true)
 |-- text: string (nullable = true)

In [15]:
# Convert text data to lowercase and clean unnecessary characters
df = df.withColumn("text", lower(regexp_replace(col("text"), "[^a-zA-Z0-9\\s]", " ")))

In [16]:
# Remove special symbols, and links from text data
df = df.withColumn("text", regexp_replace(col("text"), r'[@#]\w+|https?://\S+|\W', " "))

In [17]:
df.show(1, truncate=False)

+---+----------+----------+--------+-------------+---------------------------------------------------------------------------------------------------------------+
|0  |ids       |date      |flag    |user         |text                                                                                                           |
+---+----------+----------+--------+-------------+---------------------------------------------------------------------------------------------------------------+
|1  |1467810672|2009-04-07|NO_QUERY|scotthamilton|is upset that he can t update his facebook by texting it    and might cry as a result  school today also  blah |
+---+----------+----------+--------+-------------+---------------------------------------------------------------------------------------------------------------+
only showing top 1 row

In [18]:
# Lemmatization using NLTK
lemmatizer = WordNetLemmatizer()

def lemmatize_text(text):
    words = text.split()
    lemmatized_words = [lemmatizer.lemmatize(word) for word in words]
    return ' '.join(lemmatized_words)

lemmatize_udf = udf(lemmatize_text, StringType())
df = df.withColumn("text", lemmatize_udf("text"))

In [19]:
# Tokenization
tokenizer = Tokenizer(inputCol="text", outputCol="filtered_words")
df = tokenizer.transform(df)

In [20]:
df.show(1, truncate=False)

+---+----------+----------+--------+-------------+--------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------+
|0  |ids       |date      |flag    |user         |text                                                                                                    |filtered_words                                                                                                                 |
+---+----------+----------+--------+-------------+--------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------+
|1  |1467810672|2009-04-07|NO_QUERY|scotthamilton|is upset that he can t update his facebook by texting it and might cry a a result school today also blah|[is, upset, that, he, can, t, update, his, facebook, by, texting, it, and, might, cry, a, a, result, school, today, also, blah]|
+---+----------+----------+--------+-------------+--------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------+
only showing top 1 row

In [21]:
# Use StopWordsRemover on the "filtered_words" column in your example DataFrame
remover = StopWordsRemover(inputCol="filtered_words", outputCol="filtered_words_without_stopwords")
df = remover.transform(df)

# You can update the column name as per your needs
df = df.withColumnRenamed("filtered_words_without_stopwords", "filtered_words_final")

In [22]:
# Just pick the necessary columns
df = df.select('0', 'ids', 'date', 'flag', 'user', 'filtered_words_final')

# Rename the "0" column to "index"
df = df.withColumnRenamed("0", "tweet_index")

# Show the result
df.show(truncate=False)

+-----------+----------+----------+--------+---------------+---------------------------------------------------------------------------------+
|tweet_index|ids       |date      |flag    |user           |filtered_words_final                                                             |
+-----------+----------+----------+--------+---------------+---------------------------------------------------------------------------------+
|1          |1467810672|2009-04-07|NO_QUERY|scotthamilton  |[upset, update, facebook, texting, might, cry, result, school, today, also, blah]|
|2          |1467810917|2009-04-07|NO_QUERY|mattycus       |[kenichan, dived, many, time, ball, managed, save, 50, rest, go, bound]          |
|3          |1467811184|2009-04-07|NO_QUERY|ElleCTF        |[whole, body, feel, itchy, like, fire]                                           |
|4          |1467811193|2009-04-07|NO_QUERY|Karoli         |[nationwideclass, behaving, m, mad, see]                                         |
|5          |1467811372|2009-04-07|NO_QUERY|joy_wolf       |[kwesidei, whole, crew]                                                          |
|6          |1467811592|2009-04-07|NO_QUERY|mybirch        |[need, hug]                                                                      |
|7          |1467811594|2009-04-07|NO_QUERY|coZZ           |[loltrish, hey, long, time, see, yes, rain, bit, bit, lol, m, fine, thanks]      |
|8          |1467811795|2009-04-07|NO_QUERY|2Hood4Hollywood|[tatiana, k, nope, didn]                                                         |
|9          |1467812025|2009-04-07|NO_QUERY|mimismo        |[twittera, que, muera]                                                           |
|10         |1467812416|2009-04-07|NO_QUERY|erinx3leannexo |[spring, break, plain, city, snowing]                                            |
|11         |1467812579|2009-04-07|NO_QUERY|pardonlauren   |[re, pierced, ear]                                                               |
|12         |1467812723|2009-04-07|NO_QUERY|TLeC           |[caregiving, couldn, bear, watch, thought, ua, loss, wa, embarrassing]           |
|13         |1467812771|2009-04-07|NO_QUERY|robrobbierobert|[octolinz16, count, idk, either, never, talk, anymore]                           |
|14         |1467812784|2009-04-07|NO_QUERY|bayofwolves    |[smarrison, ve, first, didn, gun, really, though, zac, snyder, doucheclown]      |
|15         |1467812799|2009-04-07|NO_QUERY|HairByJess     |[iamjazzyfizzle, wish, got, watch, miss, iamlilnicki, wa, premiere]              |
|16         |1467812964|2009-04-07|NO_QUERY|lovesongwriter |[hollis, death, scene, hurt, severely, watch, film, wry, director, cut]          |
|17         |1467813137|2009-04-07|NO_QUERY|armotley       |[file, tax]                                                                      |
|18         |1467813579|2009-04-07|NO_QUERY|starkissed     |[lettya, ahh, ive, always, wanted, see, rent, love, soundtrack]                  |
|19         |1467813782|2009-04-07|NO_QUERY|gi_gi_bee      |[fakerpattypattz, oh, dear, drinking, forgotten, table, drink]                   |
|20         |1467813985|2009-04-07|NO_QUERY|quanvu         |[alydesigns, wa, day, didn, get, much, done]                                     |
+-----------+----------+----------+--------+---------------+---------------------------------------------------------------------------------+
only showing top 20 rows

In [23]:
df.dropna().show()

+-----------+----------+----------+--------+---------------+--------------------+
|tweet_index|       ids|      date|    flag|           user|filtered_words_final|
+-----------+----------+----------+--------+---------------+--------------------+
|          1|1467810672|2009-04-07|NO_QUERY|  scotthamilton|[upset, update, f...|
|          2|1467810917|2009-04-07|NO_QUERY|       mattycus|[kenichan, dived,...|
|          3|1467811184|2009-04-07|NO_QUERY|        ElleCTF|[whole, body, fee...|
|          4|1467811193|2009-04-07|NO_QUERY|         Karoli|[nationwideclass,...|
|          5|1467811372|2009-04-07|NO_QUERY|       joy_wolf|[kwesidei, whole,...|
|          6|1467811592|2009-04-07|NO_QUERY|        mybirch|         [need, hug]|
|          7|1467811594|2009-04-07|NO_QUERY|           coZZ|[loltrish, hey, l...|
|          8|1467811795|2009-04-07|NO_QUERY|2Hood4Hollywood|[tatiana, k, nope...|
|          9|1467812025|2009-04-07|NO_QUERY|        mimismo|[twittera, que, m...|
|         10|1467812416|2009-04-07|NO_QUERY| erinx3leannexo|[spring, break, p...|
|         11|1467812579|2009-04-07|NO_QUERY|   pardonlauren|  [re, pierced, ear]|
|         12|1467812723|2009-04-07|NO_QUERY|           TLeC|[caregiving, coul...|
|         13|1467812771|2009-04-07|NO_QUERY|robrobbierobert|[octolinz16, coun...|
|         14|1467812784|2009-04-07|NO_QUERY|    bayofwolves|[smarrison, ve, f...|
|         15|1467812799|2009-04-07|NO_QUERY|     HairByJess|[iamjazzyfizzle, ...|
|         16|1467812964|2009-04-07|NO_QUERY| lovesongwriter|[hollis, death, s...|
|         17|1467813137|2009-04-07|NO_QUERY|       armotley|         [file, tax]|
|         18|1467813579|2009-04-07|NO_QUERY|     starkissed|[lettya, ahh, ive...|
|         19|1467813782|2009-04-07|NO_QUERY|      gi_gi_bee|[fakerpattypattz,...|
|         20|1467813985|2009-04-07|NO_QUERY|         quanvu|[alydesigns, wa, ...|
+-----------+----------+----------+--------+---------------+--------------------+
only showing top 20 rows

In [24]:
# Count the total number of values in the dataframe
total_count = df.count()

# Show the total count
print("Total count of values in the dataframe", total_count)

Total count of values in the dataframe 1599999

In [25]:
# # Checking the value inside flag column

# # Let's check flag column distribution
# def create_bar_chart(df):
#     flag_counts = df.groupBy("flag").count().orderBy("flag")
#     x = flag_counts.select("flag").rdd.flatMap(lambda x: x).collect()
#     y = flag_counts.select("count").rdd.flatMap(lambda x: x).collect()

#     data = [go.Bar(x=x, y=y)]

#     layout = go.Layout(title="Flag Distribution", xaxis=dict(title="Flag"), yaxis=dict(title="Count"))
#     fig = go.Figure(data=data, layout=layout)

#     return fig

# # Dash uygulamasını oluşturun
# app = dash.Dash(__name__)

# app.layout = html.Div([
#     dcc.Graph(id='flag-chart'),
# ])

# @app.callback(
#     Output('flag-chart', 'figure'),
#     [Input('flag-chart', 'relayoutData')]
# )
# def update_chart(relayoutData):
#     return create_bar_chart(df)

# if __name__ == '__main__':
#     app.run_server(debug=True)

# MySQL

In [26]:
import pymysql

# Connect to the database
connection = pymysql.connect(
    host="localhost",
    user="root",
    password="password",
    database="ProjectTweets",
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

In [27]:
# # Create a cursor
cursor = connection.cursor()

# # Create a table
# create_table_sql = """
# CREATE TABLE Tweets (
#     tweet_index INT AUTO_INCREMENT PRIMARY KEY,
#     ids BIGINT,
#     date DATE,
#     flag VARCHAR(55),
#     user VARCHAR(255),
#     filtered_words_final TEXT
# );
# """

In [28]:
# Create a table
#cursor.execute(create_table_sql)

# Save changes
#connection.commit()

In [29]:
df.printSchema()

root
 |-- tweet_index: integer (nullable = true)
 |-- ids: long (nullable = true)
 |-- date: date (nullable = true)
 |-- flag: string (nullable = true)
 |-- user: string (nullable = true)
 |-- filtered_words_final: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [30]:
# 'filtered_words_final' adındaki sütunu virgülle ayrılmış bir metin sütunu olarak birleştirin.
df = df.withColumn('concatenated_words', concat_ws(",", df['filtered_words_final']))
df.printSchema()

root
 |-- tweet_index: integer (nullable = true)
 |-- ids: long (nullable = true)
 |-- date: date (nullable = true)
 |-- flag: string (nullable = true)
 |-- user: string (nullable = true)
 |-- filtered_words_final: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- concatenated_words: string (nullable = false)

In [31]:
df = df.select('tweet_index', 'ids', 'date', 'flag', 'user', 'concatenated_words')
df.show(1, truncate=False)

+-----------+----------+----------+--------+-------------+---------------------------------------------------------------------+
|tweet_index|ids       |date      |flag    |user         |concatenated_words                                                   |
+-----------+----------+----------+--------+-------------+---------------------------------------------------------------------+
|1          |1467810672|2009-04-07|NO_QUERY|scotthamilton|upset,update,facebook,texting,might,cry,result,school,today,also,blah|
+-----------+----------+----------+--------+-------------+---------------------------------------------------------------------+
only showing top 1 row

In [32]:
df.printSchema()

root
 |-- tweet_index: integer (nullable = true)
 |-- ids: long (nullable = true)
 |-- date: date (nullable = true)
 |-- flag: string (nullable = true)
 |-- user: string (nullable = true)
 |-- concatenated_words: string (nullable = false)

In [33]:
mysql_url = "jdbc:mysql://localhost:3306/ProjectTweets"
mysql_properties = {
    "user": "root",
    "password": "password",
}

In [34]:
# df.write.jdbc(url=mysql_url, table="Tweets", mode="overwrite", properties=mysql_properties)

In [35]:
# # ALTER TABLE sorgusunu çalıştır
# alter_table_sql = "ALTER TABLE Tweets ADD COLUMN YCSB_KEY VARCHAR(255);"
# cursor.execute(alter_table_sql)

In [36]:
# Değişiklikleri kaydet
connection.commit()

In [37]:
df_from_mysql = spark.read.jdbc(url=mysql_url, table="Tweets", properties=mysql_properties)

In [38]:
df_from_mysql.show()

+-----------+----------+----------+--------+---------------+--------------------+--------+
|tweet_index|       ids|      date|    flag|           user|  concatenated_words|YCSB_KEY|
+-----------+----------+----------+--------+---------------+--------------------+--------+
|          1|1467810672|2009-04-07|NO_QUERY|  scotthamilton|upset,update,face...|    null|
|          2|1467810917|2009-04-07|NO_QUERY|       mattycus|kenichan,dived,ma...|    null|
|          3|1467811184|2009-04-07|NO_QUERY|        ElleCTF|whole,body,feel,i...|    null|
|          4|1467811193|2009-04-07|NO_QUERY|         Karoli|nationwideclass,b...|    null|
|          5|1467811372|2009-04-07|NO_QUERY|       joy_wolf| kwesidei,whole,crew|    null|
|          6|1467811592|2009-04-07|NO_QUERY|        mybirch|            need,hug|    null|
|          7|1467811594|2009-04-07|NO_QUERY|           coZZ|loltrish,hey,long...|    null|
|          8|1467811795|2009-04-07|NO_QUERY|2Hood4Hollywood| tatiana,k,nope,didn|    null|
|          9|1467812025|2009-04-07|NO_QUERY|        mimismo|  twittera,que,muera|    null|
|         10|1467812416|2009-04-07|NO_QUERY| erinx3leannexo|spring,break,plai...|    null|
|         11|1467812579|2009-04-07|NO_QUERY|   pardonlauren|      re,pierced,ear|    null|
|         12|1467812723|2009-04-07|NO_QUERY|           TLeC|caregiving,couldn...|    null|
|         13|1467812771|2009-04-07|NO_QUERY|robrobbierobert|octolinz16,count,...|    null|
|         14|1467812784|2009-04-07|NO_QUERY|    bayofwolves|smarrison,ve,firs...|    null|
|         15|1467812799|2009-04-07|NO_QUERY|     HairByJess|iamjazzyfizzle,wi...|    null|
|         16|1467812964|2009-04-07|NO_QUERY| lovesongwriter|hollis,death,scen...|    null|
|         17|1467813137|2009-04-07|NO_QUERY|       armotley|            file,tax|    null|
|         18|1467813579|2009-04-07|NO_QUERY|     starkissed|lettya,ahh,ive,al...|    null|
|         19|1467813782|2009-04-07|NO_QUERY|      gi_gi_bee|fakerpattypattz,o...|    null|
|         20|1467813985|2009-04-07|NO_QUERY|         quanvu|alydesigns,wa,day...|    null|
+-----------+----------+----------+--------+---------------+--------------------+--------+
only showing top 20 rows

In [39]:
# # Create a cursor
# cursor = connection.cursor()

# # Create a table
# create_table_sql = """
# CREATE TABLE YCSB_TEST (
#     tweet_index INT AUTO_INCREMENT PRIMARY KEY,
#     ids BIGINT,
#     date DATE,
#     flag VARCHAR(55),
#     user VARCHAR(255),
#     filtered_words_final TEXT,
#     YCSB_KEY VARCHAR(255)
# );
# """

In [40]:
# #Create a table
# cursor.execute(create_table_sql)

# #Save changes
# connection.commit()

In [41]:
import subprocess

command = "/home/hduser/ycsb-0.17.0/bin/ycsb.sh load jdbc -P /home/hduser/ycsb-0.17.0/jdbc-binding/conf/db.properties -P /home/hduser/ycsb-0.17.0/workloads/workloada -p db.connection_properties=\"user=root&password=password&useSSL=false\" -p jdbc.url=jdbc:mysql://localhost:3306/ProjectTweets -p table=YCSB_TEST"

process = subprocess.Popen(command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE)
stdout, stderr = process.communicate()

if process.returncode == 0:
    print("YCSB operation completed successfully.")
    print("Output:")
    print(stdout.decode('utf-8'))
else:
    print("YCSB operation failed. Error message:")
    print(stderr.decode('utf-8'))

YCSB operation completed successfully.
Output:
/usr/bin/java  -classpath /home/hduser/ycsb-0.17.0/conf:/home/hduser/ycsb-0.17.0/lib/HdrHistogram-2.1.4.jar:/home/hduser/ycsb-0.17.0/lib/core-0.17.0.jar:/home/hduser/ycsb-0.17.0/lib/htrace-core4-4.1.0-incubating.jar:/home/hduser/ycsb-0.17.0/lib/jackson-core-asl-1.9.4.jar:/home/hduser/ycsb-0.17.0/lib/jackson-mapper-asl-1.9.4.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/conf:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/commons-collections-3.2.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/commons-lang-2.4.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/commons-pool-1.5.4.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/geronimo-jms_1.1_spec-1.1.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/geronimo-jta_1.1_spec-1.1.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/jdbc-binding-0.17.0.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/mysql-connector-j-8.0.33.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/mysql-connector-java-8.0.30.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/openjpa-jdbc-2.1.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/openjpa-kernel-2.1.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/openjpa-lib-2.1.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/serp-1.13.1.jar site.ycsb.Client -load -db site.ycsb.db.JdbcDBClient -P /home/hduser/ycsb-0.17.0/jdbc-binding/conf/db.properties -P /home/hduser/ycsb-0.17.0/workloads/workloada -p db.connection_properties=user=root&password=password&useSSL=false -p jdbc.url=jdbc:mysql://localhost:3306/ProjectTweets -p table=YCSB_TEST
Adding shard node URL: jdbc:mysql://localhost:3306/ProjectTweets
Using shards: 1, batchSize:-1, fetchSize: -1
[OVERALL], RunTime(ms), 1457
[OVERALL], Throughput(ops/sec), 0.0
[TOTAL_GCS_Copy], Count, 0
[TOTAL_GC_TIME_Copy], Time(ms), 0
[TOTAL_GC_TIME_%_Copy], Time(%), 0.0
[TOTAL_GCS_MarkSweepCompact], Count, 0
[TOTAL_GC_TIME_MarkSweepCompact], Time(ms), 0
[TOTAL_GC_TIME_%_MarkSweepCompact], Time(%), 0.0
[TOTAL_GCs], Count, 0
[TOTAL_GC_TIME], Time(ms), 0
[TOTAL_GC_TIME_%], Time(%), 0.0
[CLEANUP], Operations, 1
[CLEANUP], AverageLatency(us), 3251.0
[CLEANUP], MinLatency(us), 3250
[CLEANUP], MaxLatency(us), 3251
[CLEANUP], 95thPercentileLatency(us), 3251
[CLEANUP], 99thPercentileLatency(us), 3251
[INSERT], Operations, 0
[INSERT], AverageLatency(us), NaN
[INSERT], MinLatency(us), 9223372036854775807
[INSERT], MaxLatency(us), 0
[INSERT], 95thPercentileLatency(us), 0
[INSERT], 99thPercentileLatency(us), 0
[INSERT], Return=ERROR, 1
[INSERT-FAILED], Operations, 1
[INSERT-FAILED], AverageLatency(us), 72544.0
[INSERT-FAILED], MinLatency(us), 72512
[INSERT-FAILED], MaxLatency(us), 72575
[INSERT-FAILED], 95thPercentileLatency(us), 72575
[INSERT-FAILED], 99thPercentileLatency(us), 72575

In [42]:
df_from_mysql.show()

+-----------+----------+----------+--------+---------------+--------------------+--------+
|tweet_index|       ids|      date|    flag|           user|  concatenated_words|YCSB_KEY|
+-----------+----------+----------+--------+---------------+--------------------+--------+
|          1|1467810672|2009-04-07|NO_QUERY|  scotthamilton|upset,update,face...|    null|
|          2|1467810917|2009-04-07|NO_QUERY|       mattycus|kenichan,dived,ma...|    null|
|          3|1467811184|2009-04-07|NO_QUERY|        ElleCTF|whole,body,feel,i...|    null|
|          4|1467811193|2009-04-07|NO_QUERY|         Karoli|nationwideclass,b...|    null|
|          5|1467811372|2009-04-07|NO_QUERY|       joy_wolf| kwesidei,whole,crew|    null|
|          6|1467811592|2009-04-07|NO_QUERY|        mybirch|            need,hug|    null|
|          7|1467811594|2009-04-07|NO_QUERY|           coZZ|loltrish,hey,long...|    null|
|          8|1467811795|2009-04-07|NO_QUERY|2Hood4Hollywood| tatiana,k,nope,didn|    null|
|          9|1467812025|2009-04-07|NO_QUERY|        mimismo|  twittera,que,muera|    null|
|         10|1467812416|2009-04-07|NO_QUERY| erinx3leannexo|spring,break,plai...|    null|
|         11|1467812579|2009-04-07|NO_QUERY|   pardonlauren|      re,pierced,ear|    null|
|         12|1467812723|2009-04-07|NO_QUERY|           TLeC|caregiving,couldn...|    null|
|         13|1467812771|2009-04-07|NO_QUERY|robrobbierobert|octolinz16,count,...|    null|
|         14|1467812784|2009-04-07|NO_QUERY|    bayofwolves|smarrison,ve,firs...|    null|
|         15|1467812799|2009-04-07|NO_QUERY|     HairByJess|iamjazzyfizzle,wi...|    null|
|         16|1467812964|2009-04-07|NO_QUERY| lovesongwriter|hollis,death,scen...|    null|
|         17|1467813137|2009-04-07|NO_QUERY|       armotley|            file,tax|    null|
|         18|1467813579|2009-04-07|NO_QUERY|     starkissed|lettya,ahh,ive,al...|    null|
|         19|1467813782|2009-04-07|NO_QUERY|      gi_gi_bee|fakerpattypattz,o...|    null|
|         20|1467813985|2009-04-07|NO_QUERY|         quanvu|alydesigns,wa,day...|    null|
+-----------+----------+----------+--------+---------------+--------------------+--------+
only showing top 20 rows

In [43]:
df_from_mysql.printSchema()

root
 |-- tweet_index: integer (nullable = true)
 |-- ids: long (nullable = true)
 |-- date: date (nullable = true)
 |-- flag: string (nullable = true)
 |-- user: string (nullable = true)
 |-- concatenated_words: string (nullable = true)
 |-- YCSB_KEY: string (nullable = true)

### Due to a technical Issue I decided to use cProfile instead of YCSB

In [44]:
# Örnek bir sorgu
query = "SELECT * FROM Tweets WHERE concatenated_words"

In [45]:
import cProfile

def perform_query():
    cursor = connection.cursor()
    cursor.execute(query)
    results = cursor.fetchall()
    cursor.close()

if __name__ == '__main__':
    cProfile.run("perform_query()", sort="cumulative")

         1131257 function calls in 2.395 seconds

   Ordered by: cumulative time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    2.395    2.395 {built-in method builtins.exec}
        1    0.002    0.002    2.395    2.395 <string>:1(<module>)
        1    0.000    0.000    2.394    2.394 3302925674.py:3(perform_query)
        1    0.000    0.000    2.394    2.394 cursors.py:133(execute)
        1    0.000    0.000    2.393    2.393 cursors.py:319(_query)
        1    0.000    0.000    2.372    2.372 connections.py:552(query)
        1    0.000    0.000    2.361    2.361 connections.py:810(_read_query_result)
        1    0.000    0.000    2.361    2.361 connections.py:1198(read)
        1    0.000    0.000    2.330    2.330 connections.py:1281(_read_result_packet)
        1    0.038    0.038    2.329    2.329 connections.py:1327(_read_rowdata_packet)
    16867    0.070    0.000    1.635    0.000 connections.py:730(_read_packet)
    33734    0.106    0.000    1.551    0.000 connections.py:775(_read_bytes)
    33734    0.012    0.000    1.409    0.000 {method 'read' of '_io.BufferedReader' objects}
      221    0.001    0.000    1.397    0.006 socket.py:691(readinto)
      221    1.396    0.006    1.396    0.006 {method 'recv_into' of '_socket.socket' objects}
    16857    0.169    0.000    0.677    0.000 connections.py:1340(_read_row_from_packet)
   118041    0.107    0.000    0.393    0.000 protocol.py:165(read_length_coded_string)
   118042    0.104    0.000    0.157    0.000 protocol.py:147(read_length_encoded_integer)
   101184    0.098    0.000    0.128    0.000 protocol.py:62(read)
    16857    0.050    0.000    0.074    0.000 converters.py:281(convert_date)
   118042    0.053    0.000    0.053    0.000 protocol.py:114(read_uint8)
    33735    0.033    0.000    0.033    0.000 {method 'settimeout' of '_socket.socket' objects}
   134931    0.033    0.000    0.033    0.000 {built-in method builtins.len}
   101170    0.030    0.000    0.030    0.000 {method 'decode' of 'bytes' objects}
        1    0.000    0.000    0.021    0.021 cursors.py:385(_do_get_result)
        1    0.004    0.004    0.021    0.021 cursors.py:397(<listcomp>)
    16857    0.017    0.000    0.017    0.000 cursors.py:399(_conv_row)
   134884    0.014    0.000    0.014    0.000 {method 'append' of 'list' objects}
    16857    0.013    0.000    0.013    0.000 converters.py:297(<listcomp>)
        8    0.012    0.001    0.012    0.001 {method 'sendall' of '_socket.socket' objects}
        1    0.000    0.000    0.011    0.011 connections.py:834(_execute_command)
        1    0.000    0.000    0.011    0.011 connections.py:800(_write_bytes)
    16858    0.007    0.000    0.010    0.000 connections.py:1268(_check_packet_is_eof)
    16857    0.006    0.000    0.006    0.000 {method 'split' of 'str' objects}
    16867    0.005    0.000    0.005    0.000 {built-in method _struct.unpack}
    16867    0.005    0.000    0.005    0.000 protocol.py:55(__init__)
    16867    0.004    0.000    0.004    0.000 protocol.py:208(is_error_packet)
    16894    0.004    0.000    0.004    0.000 {built-in method builtins.isinstance}
    16860    0.003    0.000    0.003    0.000 protocol.py:187(is_eof_packet)
        7    0.000    0.000    0.001    0.000 java_gateway.py:1340(<lambda>)
        7    0.000    0.000    0.001    0.000 java_gateway.py:638(_garbage_collect_object)
        7    0.000    0.000    0.001    0.000 java_gateway.py:956(garbage_collect_object)
        7    0.000    0.000    0.001    0.000 java_gateway.py:1010(send_command)
        7    0.000    0.000    0.001    0.000 java_gateway.py:1178(send_command)
        1    0.000    0.000    0.000    0.000 connections.py:1359(_get_descriptions)
      221    0.000    0.000    0.000    0.000 {method '_checkReadable' of '_io._IOBase' objects}
        7    0.000    0.000    0.000    0.000 protocol.py:234(__init__)
        7    0.000    0.000    0.000    0.000 protocol.py:238(_parse_field_descriptor)
      221    0.000    0.000    0.000    0.000 socket.py:730(readable)
      221    0.000    0.000    0.000    0.000 {method '_checkClosed' of '_io._IOBase' objects}
        7    0.000    0.000    0.000    0.000 {method 'readline' of '_io.BufferedReader' objects}
        7    0.000    0.000    0.000    0.000 finalizer.py:45(remove_finalizer)
       21    0.000    0.000    0.000    0.000 protocol.py:214(smart_decode)
        8    0.000    0.000    0.000    0.000 protocol.py:177(read_struct)
        7    0.000    0.000    0.000    0.000 protocol.py:259(description)
       14    0.000    0.000    0.000    0.000 __init__.py:1455(debug)
        1    0.000    0.000    0.000    0.000 protocol.py:323(__init__)
       14    0.000    0.000    0.000    0.000 {method 'format' of 'str' objects}
        7    0.000    0.000    0.000    0.000 java_gateway.py:973(_get_connection)
        1    0.000    0.000    0.000    0.000 connections.py:539(cursor)
        2    0.000    0.000    0.000    0.000 cursors.py:97(nextset)
        7    0.000    0.000    0.000    0.000 java_gateway.py:988(_give_back_connection)
        7    0.000    0.000    0.000    0.000 protocol.py:380(is_fatal_error)
       14    0.000    0.000    0.000    0.000 protocol.py:271(get_column_length)
        1    0.000    0.000    0.000    0.000 connections.py:1178(__init__)
       14    0.000    0.000    0.000    0.000 __init__.py:1724(isEnabledFor)
        1    0.000    0.000    0.000    0.000 cursors.py:45(close)
        1    0.000    0.000    0.000    0.000 cursors.py:294(fetchall)
        2    0.000    0.000    0.000    0.000 cursors.py:83(_nextset)
        1    0.000    0.000    0.000    0.000 cursors.py:34(__init__)
        7    0.000    0.000    0.000    0.000 {method 'pop' of 'dict' objects}
        7    0.000    0.000    0.000    0.000 {method 'startswith' of 'str' objects}
        1    0.000    0.000    0.000    0.000 cursors.py:336(_do_get_result)
        8    0.000    0.000    0.000    0.000 {method 'encode' of 'str' objects}
        8    0.000    0.000    0.000    0.000 {method 'unpack_from' of '_struct.Struct' objects}
        1    0.000    0.000    0.000    0.000 {built-in method _struct.pack}
        5    0.000    0.000    0.000    0.000 cursors.py:65(_get_db)
        7    0.000    0.000    0.000    0.000 {method 'pop' of 'collections.deque' objects}
        9    0.000    0.000    0.000    0.000 {method 'get' of 'dict' objects}
        7    0.000    0.000    0.000    0.000 {method '__exit__' of '_thread.RLock' objects}
        7    0.000    0.000    0.000    0.000 {method 'strip' of 'str' objects}
        7    0.000    0.000    0.000    0.000 {method 'append' of 'collections.deque' objects}
        1    0.000    0.000    0.000    0.000 cursors.py:326(_clear_result)
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}
        1    0.000    0.000    0.000    0.000 cursors.py:110(mogrify)
        1    0.000    0.000    0.000    0.000 {built-in method builtins.min}
        1    0.000    0.000    0.000    0.000 cursors.py:70(_check_executed)
        1    0.000    0.000    0.000    0.000 protocol.py:183(is_ok_packet)
        1    0.000    0.000    0.000    0.000 protocol.py:205(is_load_local_packet)

    Total calls: 1,131,181
    Total time: 3.526 seconds

Top time-consuming functions:

    {built-in method builtins.exec}: 3.526 seconds
    <string>:1(<module>): 3.526 seconds
    3302925674.py:3(perform_query): 3.524 seconds
    cursors.py:133(execute): 3.524 seconds
    cursors.py:319(_query): 3.524 seconds

# Hive

In [46]:
df.createOrReplaceTempView("temp_table")

In [47]:
# create_table_sql = """
# CREATE TABLE ProjectTweets (
#     tweet_index INT,
#     ids BIGINT,
#     date DATE,
#     flag STRING,
#     user STRING,
#     filtered_words_final STRING
# )
# STORED AS PARQUET
# """
# spark.sql(create_table_sql)

In [48]:
# hive_insert_data_sql = """
# INSERT INTO ProjectTweets SELECT * FROM temp_table
# """

In [49]:
# spark.sql(hive_insert_data_sql)

In [50]:
# Query
result = spark.sql("SELECT * FROM ProjectTweets")

# Show Result
result.show()

2023-11-05 22:05:41,602 WARN conf.HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
2023-11-05 22:05:41,612 WARN conf.HiveConf: HiveConf of name hive.stats.retries.wait does not exist
2023-11-05 22:05:46,476 WARN metastore.ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
2023-11-05 22:05:46,476 WARN metastore.ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore hduser@127.0.1.1

+-----------+----------+----------+--------+---------------+--------------------+
|tweet_index|       ids|      date|    flag|           user|filtered_words_final|
+-----------+----------+----------+--------+---------------+--------------------+
|          1|1467810672|2009-04-07|NO_QUERY|  scotthamilton|upset,update,face...|
|          2|1467810917|2009-04-07|NO_QUERY|       mattycus|kenichan,dived,ma...|
|          3|1467811184|2009-04-07|NO_QUERY|        ElleCTF|whole,body,feel,i...|
|          4|1467811193|2009-04-07|NO_QUERY|         Karoli|nationwideclass,b...|
|          5|1467811372|2009-04-07|NO_QUERY|       joy_wolf| kwesidei,whole,crew|
|          6|1467811592|2009-04-07|NO_QUERY|        mybirch|            need,hug|
|          7|1467811594|2009-04-07|NO_QUERY|           coZZ|loltrish,hey,long...|
|          8|1467811795|2009-04-07|NO_QUERY|2Hood4Hollywood| tatiana,k,nope,didn|
|          9|1467812025|2009-04-07|NO_QUERY|        mimismo|  twittera,que,muera|
|         10|1467812416|2009-04-07|NO_QUERY| erinx3leannexo|spring,break,plai...|
|         11|1467812579|2009-04-07|NO_QUERY|   pardonlauren|      re,pierced,ear|
|         12|1467812723|2009-04-07|NO_QUERY|           TLeC|caregiving,couldn...|
|         13|1467812771|2009-04-07|NO_QUERY|robrobbierobert|octolinz16,count,...|
|         14|1467812784|2009-04-07|NO_QUERY|    bayofwolves|smarrison,ve,firs...|
|         15|1467812799|2009-04-07|NO_QUERY|     HairByJess|iamjazzyfizzle,wi...|
|         16|1467812964|2009-04-07|NO_QUERY| lovesongwriter|hollis,death,scen...|
|         17|1467813137|2009-04-07|NO_QUERY|       armotley|            file,tax|
|         18|1467813579|2009-04-07|NO_QUERY|     starkissed|lettya,ahh,ive,al...|
|         19|1467813782|2009-04-07|NO_QUERY|      gi_gi_bee|fakerpattypattz,o...|
|         20|1467813985|2009-04-07|NO_QUERY|         quanvu|alydesigns,wa,day...|
+-----------+----------+----------+--------+---------------+--------------------+
only showing top 20 rows

In [51]:
import subprocess

command = "/home/hduser/ycsb-0.17.0/bin/ycsb.sh load jdbc -P /home/hduser/ycsb-0.17.0/jdbc-binding/conf/db.properties -P /home/hduser/ycsb-0.17.0/workloads/workloada -p db.connection_properties=\"user=root&password=password\" -p jdbc.url=jdbc:hive2://hive_server:10000/ProjectTweets"

process = subprocess.Popen(command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE)
stdout, stderr = process.communicate()

if process.returncode == 0:
    print("YCSB operation completed successfully.")
    print("Output:")
    print(stdout.decode('utf-8'))
else:
    print("YCSB operation failed. Error message:")
    print(stderr.decode('utf-8'))

YCSB operation completed successfully.
Output:
/usr/bin/java  -classpath /home/hduser/ycsb-0.17.0/conf:/home/hduser/ycsb-0.17.0/lib/HdrHistogram-2.1.4.jar:/home/hduser/ycsb-0.17.0/lib/core-0.17.0.jar:/home/hduser/ycsb-0.17.0/lib/htrace-core4-4.1.0-incubating.jar:/home/hduser/ycsb-0.17.0/lib/jackson-core-asl-1.9.4.jar:/home/hduser/ycsb-0.17.0/lib/jackson-mapper-asl-1.9.4.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/conf:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/commons-collections-3.2.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/commons-lang-2.4.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/commons-pool-1.5.4.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/geronimo-jms_1.1_spec-1.1.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/geronimo-jta_1.1_spec-1.1.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/jdbc-binding-0.17.0.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/mysql-connector-j-8.0.33.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/mysql-connector-java-8.0.30.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/openjpa-jdbc-2.1.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/openjpa-kernel-2.1.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/openjpa-lib-2.1.1.jar:/home/hduser/ycsb-0.17.0/jdbc-binding/lib/serp-1.13.1.jar site.ycsb.Client -load -db site.ycsb.db.JdbcDBClient -P /home/hduser/ycsb-0.17.0/jdbc-binding/conf/db.properties -P /home/hduser/ycsb-0.17.0/workloads/workloada -p db.connection_properties=user=root&password=password -p jdbc.url=jdbc:hive2://hive_server:10000/ProjectTweets
Adding shard node URL: jdbc:mysql://localhost:3306/ProjectTweets
Using shards: 1, batchSize:-1, fetchSize: -1
[OVERALL], RunTime(ms), 1205
[OVERALL], Throughput(ops/sec), 0.0
[TOTAL_GCS_Copy], Count, 0
[TOTAL_GC_TIME_Copy], Time(ms), 0
[TOTAL_GC_TIME_%_Copy], Time(%), 0.0
[TOTAL_GCS_MarkSweepCompact], Count, 0
[TOTAL_GC_TIME_MarkSweepCompact], Time(ms), 0
[TOTAL_GC_TIME_%_MarkSweepCompact], Time(%), 0.0
[TOTAL_GCs], Count, 0
[TOTAL_GC_TIME], Time(ms), 0
[TOTAL_GC_TIME_%], Time(%), 0.0
[CLEANUP], Operations, 1
[CLEANUP], AverageLatency(us), 2607.0
[CLEANUP], MinLatency(us), 2606
[CLEANUP], MaxLatency(us), 2607
[CLEANUP], 95thPercentileLatency(us), 2607
[CLEANUP], 99thPercentileLatency(us), 2607
[INSERT], Operations, 0
[INSERT], AverageLatency(us), NaN
[INSERT], MinLatency(us), 9223372036854775807
[INSERT], MaxLatency(us), 0
[INSERT], 95thPercentileLatency(us), 0
[INSERT], 99thPercentileLatency(us), 0
[INSERT], Return=ERROR, 1
[INSERT-FAILED], Operations, 1
[INSERT-FAILED], AverageLatency(us), 77088.0
[INSERT-FAILED], MinLatency(us), 77056
[INSERT-FAILED], MaxLatency(us), 77119
[INSERT-FAILED], 95thPercentileLatency(us), 77119
[INSERT-FAILED], 99thPercentileLatency(us), 77119

In [52]:
import pstats

In [53]:
# my_hive_script.py
def hive_query():
    query
    pass

if __name__ == "__main__":
    cProfile.run("hive_query()", sort="cumulative")
    
    # İşte çıktıyı görüntülemek için pstats modülünü kullanın:
    p = pstats.Stats()
    p.print_stats()

         4 function calls in 0.000 seconds

   Ordered by: cumulative time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.000    0.000 {built-in method builtins.exec}
        1    0.000    0.000    0.000    0.000 <string>:1(<module>)
        1    0.000    0.000    0.000    0.000 2046835300.py:2(hive_query)
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}


         0 function calls in 0.000 seconds

# SENTIMENT ANALYSIS

In [54]:
df_for_sentiment = df.select('date', 'concatenated_words')

In [55]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType
from pyspark.sql.window import Window
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
#nltk.download('vader_lexicon')

In [56]:
# Vader SentimentIntensityAnalyzer'ı oluşturun
sia = SentimentIntensityAnalyzer()

# UDF için bir işlev tanımlayın
def analyze_sentiment(text):
    sentiment = sia.polarity_scores(text)
    return sentiment['compound']

# UDF'yi kaydedin
sentiment_udf = udf(analyze_sentiment, DoubleType())

In [57]:
# Vader analizini uygulayın ve sonuçları yeni bir sütuna ekleyin
df_for_sentiment = df_for_sentiment.withColumn("sentiment_score", sentiment_udf(df_for_sentiment["concatenated_words"]))

# Sonuçları göstermek için ilk birkaç satırı görüntüleyebilirsiniz
df_for_sentiment.show()

+----------+--------------------+---------------+
|      date|  concatenated_words|sentiment_score|
+----------+--------------------+---------------+
|2009-04-07|upset,update,face...|            0.0|
|2009-04-07|kenichan,dived,ma...|            0.0|
|2009-04-07|whole,body,feel,i...|            0.0|
|2009-04-07|nationwideclass,b...|            0.0|
|2009-04-07| kwesidei,whole,crew|            0.0|
|2009-04-07|            need,hug|            0.0|
|2009-04-07|loltrish,hey,long...|            0.0|
|2009-04-07| tatiana,k,nope,didn|            0.0|
|2009-04-07|  twittera,que,muera|            0.0|
|2009-04-07|spring,break,plai...|            0.0|
|2009-04-07|      re,pierced,ear|            0.0|
|2009-04-07|caregiving,couldn...|            0.0|
|2009-04-07|octolinz16,count,...|            0.0|
|2009-04-07|smarrison,ve,firs...|            0.0|
|2009-04-07|iamjazzyfizzle,wi...|            0.0|
|2009-04-07|hollis,death,scen...|            0.0|
|2009-04-07|            file,tax|            0.0|
|2009-04-07|lettya,ahh,ive,al...|            0.0|
|2009-04-07|fakerpattypattz,o...|            0.0|
|2009-04-07|alydesigns,wa,day...|            0.0|
+----------+--------------------+---------------+
only showing top 20 rows

In [64]:
from pyspark.sql.functions import avg
from pyspark.sql import functions as F
from pyspark.sql.functions import avg, col
from pyspark.sql.window import Window
from datetime import timedelta, date

In [65]:
# "date" sütununu 'yyyy-MM-dd' formatına dönüştürün
df_for_sentiment = df_for_sentiment.withColumn("date", F.to_date(df_for_sentiment["date"]))

# Tarih ve ortalama sentiment puanları için bir veri çerçevesi oluşturun
daily_sentiment = df_for_sentiment.groupBy("date").agg(avg("sentiment_score").alias("avg_sentiment_score")).orderBy("date")

In [66]:
# Tüm tarih aralığını içerecek şekilde bir tam tarih dizisi oluşturun
min_date = daily_sentiment.selectExpr("min(date) as min_date").first().min_date
max_date = daily_sentiment.selectExpr("max(date) as max_date").first().max_date

# Tarih dizisini oluşturun (tüm günleri içerecek)
date_range = [min_date + datetime.timedelta(days=x) for x in range((max_date - min_date).days + 1)]
date_range_df = spark.createDataFrame([(date,) for date in date_range], ["date"])

# Eksik tarihleri doldurun
daily_sentiment = date_range_df.join(daily_sentiment, on=["date"], how="left").orderBy("date").fillna(0, subset=["avg_sentiment_score"])

# Sonuçları göstermek için ilk birkaç satırı görüntüleyebilirsiniz
daily_sentiment.show()

+----------+--------------------+
|      date| avg_sentiment_score|
+----------+--------------------+
|2009-04-07|-2.22104499274310...|
|2009-04-08|                 0.0|
|2009-04-09|                 0.0|
|2009-04-10|                 0.0|
|2009-04-11|                 0.0|
|2009-04-12|                 0.0|
|2009-04-13|                 0.0|
|2009-04-14|                 0.0|
|2009-04-15|                 0.0|
|2009-04-16|                 0.0|
|2009-04-17|                 0.0|
|2009-04-18|-2.23096950161170...|
|2009-04-19|-1.03626373626373...|
|2009-04-20|-7.62942483872716...|
|2009-04-21|3.864925709140026E-5|
|2009-04-22|                 0.0|
|2009-04-23|                 0.0|
|2009-04-24|                 0.0|
|2009-04-25|                 0.0|
|2009-04-26|                 0.0|
+----------+--------------------+
only showing top 20 rows

In [67]:
import dash
from dash import dcc, html
import plotly.express as px

# Dash uygulamasını başlatın
app = dash.Dash(__name__)

In [68]:
# Uygulamanın düzenini oluşturun
app.layout = html.Div([
    dcc.Graph(
        id='sentiment-line-chart',
        figure=px.line(daily_sentiment, x='date', y='avg_sentiment_score', title='Daily Average Sentiment Score')
    )
])

if __name__ == '__main__':
    app.run_server(debug=True)